@font-face {
    font-family: 'subwayregular';
    src: url('fonts/subway-black1-webfont.woff2') format('woff2'),
         url('fonts/subway-black1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


*, *::before, *::after {
    box-sizing: border-box;
  }
  
  
  * {
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
 
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }



html {
font-family: "subwayregular", sans-serif;
padding: 0;
margin: 0;
}


h1 {
color:cornsilk;
background-color: #93c13e;";
margin: 0 auto;
width: 500;
font-size: 40px;
font-family: fantasy;
font-weight: lighter;
padding: 10px;
}

h2 {
font-family: Subway;
padding: 10;
margin: 0 auto;
height: 50px;
}

section{
    width: 1000px;
    margin: 0 auto;
    padding: 10;
height: 100px;
}

article{
    width: 600px;
    margin: 0 auto;
}

body {
background-color: #E8E0E8;
}

header {
font-size: 20px;
font-weight: bolder;
letter-spacing: 5px;
opacity: 80%;
margin: 0 auto;
padding: 50px;
text-align: center;
color: black;
background-color: #D9EAD2;
height: 50px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.image1 {
box-shadow: 25px 25px 50px;
opacity: 0,2;
}


aside {
height: 25px;
width: 1500px;
}

div {
    height: auto;
    padding: 0;
    margin: 0;
}

footer {
background-color: #E1B6EB;
height: 75px;
color: white;
}


a:link {
    color: white
}
a:active {
    color:white
}
a:hover {
    color: white
}
a:visited {
    color: white
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  img {
    float: left;
    width:  100px;
    height: 400px;
    object-fit: cover;
}
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: darkviolet;
  }
  
  .column:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.column{
  position: relative;
}

